* {
    margin: 0;
    padding: 0;
}

/* ----- mobile ----- max-width: 600px */

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.app {
    background: linear-gradient(135deg, #c8e73c 10%, #00EAFF 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 0.9;
}

.header {
    padding: 5px;
    background: rgb(0, 130, 249);
    background: radial-gradient(circle, rgba(0, 130, 249, 1) 98%, rgba(255, 255, 255, 1) 100%);
    width: 90vw;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: space-between;
}

.header .addTask {
    width: 90%;
    margin: auto;
    justify-content: space-between;

}

.header .addTask input {
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    padding: 6px;
    font-size: 24px;
    border-width: 2px;
    border-radius: 50px;
    border-style: hidden;
    border-color: #c4c4c4;
    color: #787171;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 9px 0px rgba(99, 99, 99, .37);
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .74);
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;

}

.header .addTask button {
    border: none;
    background: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    font-size: 16px;
    height: 60px;
    width: 60px;
    border-radius: 999px;
    position: relative;

}

.header .addTask button i {
    color: white;
    font-weight: 100;
    font-size: 36px;
}

.header .addTask .important {
    display: flex;
    margin: 15px 0;
    font-size: 16px;
    line-height: 25px;
    justify-content: center;
    align-items: center;

}

.header .addTask .important span {
    margin-right: 5px;
}

.header .addTask .important input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;

}

ul {
    display: flex;
    flex-direction: column;
    margin: auto;
}

li {
    width: 80vw;
    height: 60px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: none;
    list-style: none;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: blue;

}


li button {
    background-color: blueviolet;
    border: none;
    /* border-right: 5px solid blueviolet; */
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 30px;
    color: white;
    line-height: 60px;

}

li span {
    margin-left: 30px;
}


li button i {
    text-align: center;
}



/* --- width beetwenn 601 - 800 px --- */

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .app {
        width: 100%;
        margin: auto;
    }

    .header {
        width: 80vw;
    }



    .header .addTask input {
        font-size: 36px;
        height: 40px;
        padding: 12px;

    }

    .header .addTask button {
        font-size: 24px;
        height: 80px;
        width: 80px;
    }

    .header .addTask .important {
        margin: 35px 0;
    }

    .header .addTask .important span {
        margin-right: 25px;
    }

    .header .addTask .important input[type="checkbox"] {

        margin-left: 25px;

    }




    li {
        margin: 25px;
        width: 70vw;
        height: 90px;
        line-height: 90px;
        font-size: 36px;
    }

    h1 {
        font-size: 36px;
    }



}

@media only screen and (min-width: 801px) {


    .app {
        width: 50vw;
    }

    .header {
        width: 100%;
        padding: 0;

    }

    .header .addTask input {
        width: 300px;

    }

    li {
        width: 35vw;
    }

    button:hover {
        background-color: chartreuse;
        cursor: pointer;
    }

    .header .addTask button:hover {
        background: coral;
        transform: scale(1.1);
    }
}